# Exclude GitHub workflows and configuration
/.github export-ignore

# Exclude test files and configs
/tests export-ignore
phpunit.xml export-ignore
phpcs.xml export-ignore
phpstan.neon export-ignore

# Exclude project-specific or temporary files
stability.php export-ignore
/docs export-ignore

# Exclude Git and Composer metadata
.gitignore export-ignore
.gitattributes export-ignore
composer.lock export-ignore
