<?php

return [
    /**
     * Define the base path, where components would live in.
     */
    'base_path' => 'src',

    'threshold_zone_of_pain' => 0.3,
    'threshold_zone_of_uselessness' => 0.7,

    /**
     * Define each module to be checked.
     */
    'modules' => [
        [
            /**
             * Define the module path, excluding the base_path
             */
            'module' => 'First/Module/Path',

            /**
             * Define the components within the module to be excluded from the stability check.
             */
            'exclude' => [
                // ex: 'Interfaces',
            ],
        ],
        // ... Define other components
    ],
];
