<?php

use \Stability\Config\Loaders\StabilityConfig;
use \Stability\Config\Loaders\StabilityModule;

/**
 * @see StabilityConfig
 * @see StabilityModule
 */
return [
    'modules' => [
        [
            'name' => 'Some module name',

            'path' => 'First/Module/Path',

            'thresholdZoneOfPain' => 0.7,
            'thresholdZoneOfUselessness' => 0.7,

            'exclude' => [
                // ex: 'Interfaces',
            ],
        ],
        // ... Define other components
    ],


    'outputSettings' => [
        'option' => 'console', // or 'json'

        'filePath' => '', // Optionally define the file path when writing results to a file

        'fileName' => '', // Optionally define the file name when writing results to a file
    ],
];
